

.usuario-crud-btn-container {

}

.usuario-crud-btn {
    height: 50px;
    width: 240px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 30px;
}

.checkbox-item {
    padding-right: 30px;
    border-radius: 10px;
    font-weight: bold;

}

.inputs {
    padding-bottom: 20px;
    padding-right: 20px;

}

.checkbox {
    display: flex;
}


.group-senha-email {
    display: flex !important;
}

.group-endereco {
    display: flex !important;
}